# Server
APP_NAME=lonceng_unman_be
APP_ENV=development
APP_PORT=3000
APP_HOST=0.0.0.0

# CORS
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOW_HEADERS=Content-Type,Authorization
